/* =======================================================
                VARIABLES GLOBALES
======================================================= */

:root {
    --color-primary: #906427;
    --color-secondary: #B6AC97;
    --color-dark: #392C1E;
    --color-black: #292222;

    --font-sans: "Montserrat", system-ui, sans-serif;
    --font-serif: "Hind Madurai", serif;

    --fs-base: 1rem;          
    --fs-tiny: .75rem;        
    --fs-small: .875rem;      
    --fs-menu: 1rem;          
    --fs-h4: clamp(1.1rem, 1vw + .8rem, 1.375rem);  
    --fs-h3: clamp(1.25rem, 1.2vw + .9rem, 1.75rem);
    --fs-h2: clamp(1.5rem, 2vw + 1rem, 2.25rem);    
    --fs-h1: clamp(2rem, 3vw + 1rem, 3rem);      
    
    --fw-normal: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --bs-body-font-family: var(--font-sans);
    --bs-body-font-size:   var(--fs-base);
    --bs-body-line-height: 1.6;
    --bs-body-color:       var(--color-text);
    --bs-body-bg:          var(--color-bg);

    --bs-link-color:        var(--color-text);
    --bs-link-hover-color:  var(--color-secondary);
}





/* =======================================================
                GLOBALES
======================================================= */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}

body{
    font-family: var(--font-sans);
}

main {
    flex: 1 0 auto;
}



/* =======================================================
                    POLICES
======================================================= */
h1,h2,h3,h4{
    font-family: var(--font-serif);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    margin: 0 0 .6em;
}

h1{ font-size: var(--fs-h1); }
h2{ font-size: var(--fs-h2); }
h3{ font-size: var(--fs-h3); }
h4{ font-size: var(--fs-h4); }

p{ margin: 0 0 1rem; }
a{ text-decoration: none; color: inherit; }

p.medium{ font-weight: var(--fw-medium); }           
p.small{  font-size: var(--fs-small); }
p.tiny{   font-size: var(--fs-tiny); }
p.menu{   font-size: var(--fs-menu); font-weight: var(--fw-bold); }

hr{
    width: 50%;
    border-top: 3px solid var(--color-text);
}

/* =======================================================
                    BOUTONS
======================================================= */

.btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);


    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--color-secondary);
    --bs-btn-hover-border-color: var(--color-secondary);

    --bs-btn-active-color: var(--color-text);
    --bs-btn-active-bg: var(--color-primary);
    --bs-btn-active-border-color: var(--color-secondary);

    --bs-btn-disabled-color: #8899A6;
    --bs-btn-disabled-bg: var(--color-dark);
    --bs-btn-disabled-border-color: #8899A6;

}

/* =======================================================
                NAVIGATION - GENERAL
======================================================= */

.bg-dark-custom {
    background-color: var(--color-dark);
}


/* =======================================================
                HERO
======================================================= */
.bg-hero-accueil{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.2)), url(/photos/hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.hero {
    position: relative;
    text-align: center;
    box-shadow: 0 0.05rem 0.3rem rgba(0, 0, 0, 0.1);
}

.bg-image-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.dark-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4); /* ajuste l’opacité */
    z-index: 1;
}

/* ✅ texte au-dessus de l’overlay */
.overlay-content {
    position: relative;
    z-index: 2;
}

img.bg-image-hero {
    font-family: "object-fit: cover;";
    object-fit: cover;
}

/* .text-hero{
    color: var(--color-bg);
} */

/* =======================================================
                GALERIE
======================================================= */

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}

